<div>
    <RadioGroup TValue="int?" @bind-Value="@_value" >
        <Radio TValue="int?" Value="1">A</Radio>
        <Radio TValue="int?" Value="2">B</Radio>
        <Radio TValue="int?" Value="3">C</Radio>
        <Radio TValue="int?" Value="4">D</Radio>
    </RadioGroup>
    <button @onclick="@(() => _value = null)">
        Change Value
    </button>
</div>
@code
 {

    int? _value = null;
}